/* Global Styles */
body {
    background-color: #dad5c6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #eeece3;
    max-width: 400px;
    border-radius: 0.3em;
    padding: 20px;
}

/* Header Styles */
.header {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calls {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
}
.calls h1{
    font-size: medium;
}

/* Profile Section Styles */
.profile {
    display: flex;
    margin-top: 30px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

img {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-details {
    padding: 10px;
    width: 70%;
}
.profile-details h1{
    font-size: medium;
}

/* Button Styles */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    width: 48%;
    height: 35px;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    cursor: pointer;
}

.button:first-child {
    border: 2px solid #1ba371;
    color: #1ba371;
}

.button:last-child {
    background-color: #1ba371;
    color: white;
}
